{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>
    {{ include('question/_form.html.twig') }}

    <a href="{{ path('question_list') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        {{ include('question/_form.js.twig') }}
    </script>
{% endblock %}
